.item-container{
    display:flex;
    flex-direction:column;
}

.except-time{
    display:flex;
    height:60px;
}

.logo{
    height:30px;
    margin-right:20px;
}
.button{
    border:0px;
    background-color:#ffffff;
    
}
.domainUrl{
    margin-bottom:15px;
}
.title{
    margin-bottom:10px;
}
